@font-face {
    font-family: 'Mission Gothic Thin';
    src: url('../fonts/Mission Gothic Thin.otf');
}

@font-face {
    font-family: 'Mission Gothic Bold';
    src: url('../fonts/Mission Gothic Bold.otf');
}

body {
    font-size: 62.5%;
    margin: 0;
    /*font-family: 'Poiret One', cursive;*/
    font-family: 'Mission Gothic Thin', sans-serif;
    position: relative;
}

select {
    height: 2em;
    font-size: 1.6em;
}

.wrapper {
    width: 96em;
    margin: 0 auto;
    position: relative;
    padding: 4em 0 0;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #152937; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(256, 256, 256, 0) 0%, rgba(256, 256, 256, 1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(256, 256, 256, 0)), color-stop(90%, rgba(256, 256, 256, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(256, 256, 256, 0) 0%, rgba(256, 256, 256, 1) 90%)); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(256, 256, 256, 0) 0%, rgba(256, 256, 256, 1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(256, 256, 256, 0) 0%, rgba(256, 256, 256, 1) 90%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(256, 256, 256, 0) 0%, rgba(256, 256, 256, 1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(256, 256, 256, 0)', endColorstr='rgba(256, 256, 256, 1)',GradientType=0 ); /* IE6-9 */
}

header {
    /*color: #9E2117;*/
    color: #fff;
    padding: 5em 0 10em;
    text-align: center;
    /*background: url(../images/header_bg.png) center center fixed;*/
    background: #3EA0E0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.admin {
    width: 120em;
    text-align: right;
    margin: -4em auto 0;
    position: relative;
    z-index: 20;
    cursor: default;
}

.nav {
    font-size: 2em;
    position: absolute;
    right: 0;
    top: 0;
}

.login {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 3em;
}

.login-partial {
    display: block;
}

.login-partial span {
    font-size: 2em;
    margin-right: 0.2em;
}

.login-partial input {
    font-size: 1.5em;
    padding: .2em .5em;
    width: 7em;
    margin-bottom: 0.2em;
}

.login-error {
    color: #F00;
    font-size: 1.5em;
    opacity: 0;
}

h1 {
    margin: 0;
    position: relative;
    z-index: 10;
    text-align: center;
}

.header_text_big {
    background: rgba(0, 0, 0, 0.7);
    width: 53%;
    margin: 0 auto 0 14%;
    padding: 10px;
}

.header_text_medium {
    background: rgba(0, 0, 0, 0.7);
    width: 61%;
    margin: 0 auto 2em 14%;
    padding: 1em;
}

h1.big {
    color: #3EA0E0;
    font-weight: 600;
    font-size: 15em;
}

h1.medium {
    font-weight: 400;
    font-size: 9em;
}

.of {
    color: #3EA0E0;
    font-weight: 400;
    font-style: italic;
}

h3 {
    font-size: 4em;
    margin-bottom: .5em;
    /*text-align: center;*/
    font-weight: 400;
    padding: 0 0 .5em;
    margin: 0;

}

.symbols {
    margin-bottom: 10em;
}

.symbol-title {
    display: block;
    text-align: center;
    font-size: 2.4em;
    font-weight: 200;
    margin-bottom: .5em;
}

.symbol-container {
    width: 15em;
    float: left;
    margin-right: 10em;
}

.symbol-row .symbol-container:last-child {
    margin-right: 0;
}

.symbol-row {
    margin: 0 auto;
}

.symbol-row:first-child {
    width: 65em;
    margin-bottom: 5em;
}

.symbol-row:last-child {
    width: 90em;
}

.symbol {
    height: 15em;
    width: 15em;
}

hr {
    margin-bottom: 5em;
}

/* FORM */

footer {
    background: #152937;
    padding-bottom: 10em;
}

footer h1 {
    color: #FFF;
    padding: .5em 0;
}

.form {
    color: #FFF;
    width: 80em;
    margin: 0 auto;
    position: relative;
}

.form span {
    font-size: 2em;
}

.form input, .form textarea {
    padding: .5em;
    font-size: 1.4em;
    margin: 0;
    border-color: #FFF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.form input:focus {
    border-color: #FFF;
}

input.short {
    width: 8em;
}

input.long {
    width: 12em;
}

input.state {
    width: 1.5em;
}

input.state {
    width: 1.5em;
}

.phone-number {
    width: 2em;
}
/*
.phone-number:last-child {
    width: 2.6em;
}*/

.phone-number.long {
    width: 2.6em;
}

.zip {
    width: 3.2em;
}

textarea {
    vertical-align: top;
    width: 22em;
    resize: vertical;
}

/* WAVES */

.waves-container {
    width: 100%;
    overflow: hidden;
    height: 7em;
    position: relative;
    margin-bottom: -3em;
}

.waves {
    width: 120%;
    position: relative;
    height: 6em;
    overflow: hidden;
    left: -9%;
    -webkit-animation: ocean 3s infinite;
    -moz-animation:    ocean 3s infinite;
    -ms-animation:     ocean 3s infinite;
    -o-animation:      ocean 3s infinite;
    animation:         ocean 3s infinite;

}

.water {
    height: 3em;
    width: 100%;
    background: #152937;
    position: absolute;
    bottom: 0;
}

.wave {
    position: absolute;
    top: 0;
    width: 8%;
    height: 6em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FFF;
}

@-webkit-keyframes ocean {
    0%, 100% {
        -webkit-transform: translate(0,0);
        -moz-transform:    translate(0,0);
        -ms-transform:     translate(0,0);
        -o-transform:      translate(0,0);
        transform:         translate(0,0);
    }

    50% {
        -webkit-transform: translate(1.5em, .2em);
        -moz-transform:    translate(1.5em, .2em);
        -ms-transform:     translate(1.5em, .2em);
        -o-transform:      translate(1.5em, .2em);
        transform:         translate(1.5em, .2em);
    }
}

@-moz-keyframes ocean {
    0%, 100% {
      -webkit-transform: translate(0,0);
      -moz-transform:    translate(0,0);
      -ms-transform:     translate(0,0);
      -o-transform:      translate(0,0);
      transform:         translate(0,0);
    }

    50% {
      -webkit-transform: translate(1.5em, .2em);
      -moz-transform:    translate(1.5em, .2em);
      -ms-transform:     translate(1.5em, .2em);
      -o-transform:      translate(1.5em, .2em);
      transform:         translate(1.5em, .2em);
    }
}
@-o-keyframes ocean {
    0%, 100% {
        -webkit-transform: translate(0,0);
        -moz-transform:    translate(0,0);
        -ms-transform:     translate(0,0);
        -o-transform:      translate(0,0);
        transform:         translate(0,0);
    }

    50% {
        -webkit-transform: translate(1.5em, .2em);
        -moz-transform:    translate(1.5em, .2em);
        -ms-transform:     translate(1.5em, .2em);
        -o-transform:      translate(1.5em, .2em);
        transform:         translate(1.5em, .2em);
    }
}
@keyframes ocean {
    0%, 100% {
        -webkit-transform: translate(0,0);
        -moz-transform:    translate(0,0);
        -ms-transform:     translate(0,0);
        -o-transform:      translate(0,0);
        transform:         translate(0,0);
    }

    50% {
        -webkit-transform: translate(1.5em, .2em);
        -moz-transform:    translate(1.5em, .2em);
        -ms-transform:     translate(1.5em, .2em);
        -o-transform:      translate(1.5em, .2em);
        transform:         translate(1.5em, .2em);
    }
}

.rbc-logo {
    width: 20em;
    margin: 0 auto;
    display: block;
}

/* TABLE */

table {
    border-collapse: collapse;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5em;
}

.last-table {
    /*margin-bottom: 0;*/
}

th {
    font-size: 4em;
    margin-bottom: .5em;
    font-weight: 400;
    padding: 0 0 .5em;
    margin: 0;
    text-align: left;
}

td {
    padding: 10px 10px 0 0;
}

tr:first-child td {
    border-top: 3px solid #4A8BBC;
    padding-top: 15px;
}

td:first-child { 
    font-size: 2em;
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.button{
    height: 2em;
    width: 4em;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 2em;
    font-size: 3em;
    background: #4A8BBC;
    cursor: pointer;
    float: right;
    clear: both;
}

.button:hover {
    background: #3A698C;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, .5);
    z-index: -1;
    opacity: 0;
}

.modal-box-container {
    width: 100%;
    margin-top: 5em;
    position: fixed;
}

.modal-box {
    width: 50em;
    padding: 5em;
    margin: 0 auto;
    background: #FFF;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.modal-box h3 {
    color: #3EA0E0;
    padding-bottom: .2em;
    border-bottom: .1em solid #3EA0E0;
}

.modal-box h3:first-child {
    font-family: 'Mission Gothic Bold', sans-serif;
    border: none;
}

#success .modal-box h3  {
    border: none;
}

.modal-box ol {
    font-size: 2em;
}

.ok {
    color: #FFF;
/*    height: 2em;
    width: 4em;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 2em;
    font-size: 3em;
    background: #4A8BBC;
    cursor: pointer;
    float: right;*/
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

