@font-face {
    font-family: 'Mission Gothic Thin';
    src: url('../fonts/Mission Gothic Thin.otf');
}

body {
    font-size: 62.5%;
    margin: 0;
    /*font-family: 'Poiret One', cursive;*/
    font-family: 'Mission Gothic Thin', sans-serif;
}

/** {
    vertical-align: top;
}
*/
.wrapper {
    width: 96em;
    margin: 0 auto;
    position: relative;
    padding: 4em 0 0;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(256, 256, 256, 0) 81%, rgba(256, 256, 256, 1) 90%);
}

header {
    /*color: #9E2117;*/
    color: #fff;
    padding: 5em 0 10em;
    text-align: center;
    background: url(../images/header_bg.png) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

h1 {
    margin: 0;
    position: relative;
    z-index: 10;
    text-align: center;
}

.header_text_big {
    background: rgba(0, 0, 0, 0.7);
    width: 53%;
    margin: 0 auto 0 14%;
    padding: 10px;
}

.header_text_medium {
    background: rgba(0, 0, 0, 0.7);
    width: 61%;
    margin: 0 auto 2em 14%;
    padding: 1em;
}

h1.big {
    font-weight: 600;
    font-size: 15em;
}

h1.medium {
    font-weight: 400;
    font-size: 9em;
}

.of {
    font-weight: 400;
    font-style: italic;
}

h3 {
    font-size: 4em;
    margin-bottom: .5em;
    text-align: center;
    font-weight: 400;
    padding: 0 0 .5em;
    margin: 0;

}

.symbols {
    margin-bottom: 5em;
}

.symbol-title {
    display: block;
    text-align: center;
    font-size: 2.4em;
    font-weight: 200;
    margin-bottom: .5em;
}

.symbol-container {
    width: 15em;
    float: left;
    margin-right: 10em;
}

.symbol-row .symbol-container:last-child {
    margin-right: 0;
}

.symbol-row {
    margin: 0 auto;
}

.symbol-row:first-child {
    width: 65em;
    margin-bottom: 5em;
}

.symbol-row:last-child {
    width: 90em;
}

.symbol {
    height: 15em;
    width: 15em;
}

hr {
    margin-bottom: 5em;
}

/* FORM */

footer {
    background: #152937;
    /*background: #002B42;*/
}

footer h1 {
    color: #FFF;
    padding: .5em 0;
}

.form {
    color: #FFF;
    width: 96em;
    margin: 0 auto;
    padding-bottom: 2em;
}

.form span {
    font-size: 2em;
}

.items {
    border: .5em solid #4A8BBC;
    display: inline-block;
    padding: 1em;
    border-radius: 4px;
    color: #FFF;
    margin: 0 auto 5em;
}

.items .form-row {
    margin-bottom: 2.5em;
}

.items .form-row:last-child {
    margin-bottom: 0;
}

.form-row span {
    margin-right: .2em;
    margin-left: 2.5em;
}

.form-row span:first-child {
    margin-left: 0;
}

.form input, .form textarea {
    padding: .5em;
    font-size: 1.4em;
    margin: 0;
    border-color: #FFF;
    border-radius: 4px;
}

.form input:focus {
    border-color: #FFF;
}

input.short {
    width: 8em;
}

input.long {
    width: 12em;
}

input.state {
    width: 1.5em;
}

input.state {
    width: 1.5em;
}

.phone-number {
    width: 2em;
}
/*
.phone-number:last-child {
    width: 2.6em;
}*/

.phone-number.long {
    width: 2.6em;
}

.zip {
    width: 3.2em;
}

textarea {
    vertical-align: top;
    width: 10em;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

